.slides{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.5em;
  margin-bottom: 3em;
}
.slides .slot1, .slot2,  .slot3{
  width: 25%;
  margin: 0 20px;
}
.rightArrow{
  position: absolute;
  top: 47%;
  right: 1vw;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  color: black;
}

.leftArrow{
  position: absolute;
  top: 47%;
  left: 1vw;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  user-select: none;
  color: black;
}

.slideInactive{
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active{
  position: relative;
  opacity: 1;
  transition-duration: 1s;
}

@keyframes scroll-down{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(100%);
  }
}
@media(max-width: 2000px){
  .slides{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    margin-bottom: 3em;
  }
  .slides .slot1, .slot2,  .slot3{
    width: 25%;
    margin: 0 20px;
}
  .rightArrow{
    position: absolute;
    top: 47%;
    right: 1vw;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    color: black;
  }

  .leftArrow{
    position: absolute;
    top: 47%;
    left: 1vw;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    color: black;
  }
}
@media(max-width: 1500px){
  .slides{
    position: relative;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.5em;
    margin-bottom: 3em;
  }
  .slides .slot1, .slot2,  .slot3{
      width: 25%;
      margin: 0 20px;
  }
  .slides .slot3.active{
    animation: scroll-down 5s linear;
  }
  
  /* .slides .slot1 .slot.active, .slot2 .slot.active,  .slot3 .slot.active {
    animation: scroll-down 5s linear;
} */
  .slides .slot1 .pic, .slot2 .pic, .slot3 .pic{
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
    border: 2px solid #73AD21;
    
}

  .rightArrow{
    position: absolute;
    top: 47%;
    right: 1vw;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    color: black;
  }

  .leftArrow{
    position: absolute;
    top: 47%;
    left: 1vw;
    font-size: 3rem;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    color: black;
  }
}
@media(max-width: 850px){
  .slides{
    position: relative;
    height: 45vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    top: 0%;
  }
  .slides .slot1, .slot2,  .slot3{
    width: 25%;
    margin: 0 20px;
}

  .slide.active{
    position: relative;
    opacity: 1;
    transition-duration: 1s;
    /* top: -5%; */
  }
  .rightArrow{
    position: absolute;
    top: 100%;
    right: 8vw;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }
  .leftArrow{
    position: absolute;
    top: 100%;
    left: 8vw;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
  }

}
